body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero {
  height: 100vh;
  font-family: Helvetica, sans-serif;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(204, 228, 255, 0.247);
  color: rgb(255, 136, 0);
  display: flex;
  justify-content: space-between;
  .left-half {
    padding: 1rem;
    .logo {
      border-radius: 50%;
      margin: 2rem;
    }

    .circle {
      height: 200px;
      width: 200px;
      position: absolute;
      left: 22%;
      top: 58%;
      background-color: #fda212;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;

      cursor: pointer;
      &:hover {
        background-color: rebeccapurple;
      }
    }
  }
  .right-half {
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
    overflow-y: scroll;
    a {
      text-decoration: none;
      color: inherit;
      background-color: lightblue;
      padding: 1rem;
      font-weight: 800;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: white;
      }
      .social-links {
        display: flex;
        justify-content: space-around;
        a {
          background-color: none !important;
        }
      }
    }
  }
}
